body {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.download button {
  border-radius: 10px;
}
.createAcc {
  box-shadow: -40px 43px 86px #26314021;
  border-radius: 10px;
}
.truck-bg {
  background-image: url(../../assets/img/truck.png);
  background-repeat: no-repeat;
  background-position: 120% 64px;
}
.phone-card {
  box-shadow: -40px 43px 86px #26314021;
  border: 1px solid #eaecee;
  border-radius: 20px;
  width: 296px;
  /* height: 117px; */
}
.desc-pfp {
  width: 38px;
  height: 38px;
  border-radius: 14px;
  background-color: #eaecee;
  margin-right: 10px;
}
.who-sec {
  width: 47%;
}
.blog-active {
  color: #1c6288;
  font-weight: bold;
  position: relative;
}
.blog-active::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 50%;
  width: 5%;
  height: 11px;
  background-color: #ffbe57;
  animation: stretch 150ms ease-in-out forwards;
}
@keyframes stretch {
  100% {
    left: -15%;
    width: 130%;
  }
}
.blogs {
  border-radius: 40px;
}
.blog-desc {
  overflow-y: scroll;
  padding-left: 16px;
  box-sizing: content-box;
  /* this will hide the scrollbar in mozilla based browsers */
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
  /* this will hide the scrollbar in internet explorers */
  -ms-overflow-style: none;
}
.blog-desc::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}
.blog-pfp {
  width: 111px;
  height: 111px;
  border-radius: 14px;
}
.num {
  width: 54px;
  height: 54px;
}
.num-line::after {
  position: absolute;
  content: "";
  top: 54px;
  width: 1px;
  height: 628px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #999999;
}
.card {
  width: 362px;
}
.connect {
  height: 372px;
}
.about-card {
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 43px 86px #26314012;
}
.about-card h3 {
  font-size: 29px;
}
.toggler {
  background-color: #eaecee;
  cursor: pointer;
}
.none {
  display: none;
}
.plus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 1320px) {
  .card {
    width: 310px;
  }
}
@media screen and (max-width: 768px) {
  .truck-bg {
    background-position: center 100%;
    background-size: contain;
  }
  .who-sec {
    width: 100%;
  }
  .blogs {
    border-radius: 16px;
  }
  .blog-active::after {
    left: 50%;
    width: 2%;
    height: 6px;
  }
  @keyframes stretch {
    100% {
      left: -5%;
      width: 110%;
    }
  }
  .num-line::after {
    height: 650px;
  }
  .card {
    width: 100%;
  }
}

/* BOWMENN FOR BUSINESS */
.business-bg {
  background-image: url(../../assets/img/cheg-bg.svg),
    url(../../assets/img/chef-bg-img.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.cus-dis {
  box-shadow: 0px 43px 66px #00000019;
  border: 11px solid #EDEBE4;
  height: 513px;
}
.slider {
  width: 10px;
  background-color: #E5E5E5;
  /* height: 100%; */
  /* border: 7px solid #E5E5E5; */
}

/* BOWMENN FOR FLEET OWNERS */
.fleet-bg {
  background-image: url(../../assets/img/blue-overlay-bg.svg),
    url(../../assets/img/trucks-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.req-head::after {
  content: "";
  position: absolute;
  top: 80px;
  left: 12px;
  width: 1px;
  height: 440px;
  background-color: #71A1FA;
}
@media screen and (min-width: 1320px) {
  .req-head::after {
    top: 100px;
    height: 440px;
  }
}
@media screen and (max-width: 768px) {
  .req-head::after {
    top: 70px;
    height: 340px;
  }
}
@media screen and (max-width: 320px) {
  .req-head::after {
    height: 500px;
  }
}
@media screen and (max-width: 450px) {
  .req-head::after {
    top: 70px;
    height: 440px;
  }
}
/* BOWMENN FOR DRIVERS*/
.drive-bg {
  background-image: url(../../assets/img/green-overlay.svg),
    url(../../assets/img/smiling-senior-afro-man-driving-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.greq-head::after {
  content: "";
  position: absolute;
  top: 80px;
  left: 12px;
  width: 1px;
  height: 480px;
  background-color: #71A1FA;
}
.create-btn {
  box-shadow: -40px 43px 86px #26314021;
}
/* BOWMENN FOR INDIVIDUALS*/
.indiv-bg {
  background-image: url(../../assets/img/indiv-bg.svg),
    url(../../assets/img/black-man-smiling-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
/* ABOUT PAGE */

.about-bg {
  width: 517px;
  height: 528px;
}
.aboutinner {
  width: 333px;
  height: 355px;
  background-color: #eaecee;
}
.mission-bg {
  width: 496px;
  height: 553px;
}
.vision-bg {
  width: 518px;
  height: 490px;
  background-color: #eaecee;
}
@media screen and (max-width: 1320px) {
  .about-bg {
    width: 90%;
    max-width: 460px;
    height: 480px;
  }
  .mission-bg {
    width: 100%;
    max-width: 406px;
    height: 483px;
  }
  .vision-bg {
    width: 100%;
    max-width: 450px;
    height: 420px;
  }
}
@media screen and (max-width: 768px) {
  .about-bg {
    height: 320px;
  }
  .aboutinner {
    width: 100%;
  }
}
/* CONTACT PAGE */

.bg-con-btn {
  background-color: #1e0a5b;
}
